.valid-input {
    border: 2px solid green;
}

/* Styling for invalid input */
.invalid-input {
    border: 2px solid red;
}

td {
    cursor: pointer;
}

Table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.ReminderPopUp{
    position:fixed;
    display: block;
}

.Date {
    height: 100px;
    width: 100px;    
    text-align: center;
}

.Date:hover{
    color: gray;
}



/* #DatePopUp{
    position: absolute;
    margin-left: 45%;
    margin-top: -15%;
} */
